{% load admin_urls static %}

<header>
    <p>
        <a href="{% url 'url_main_page' %}">Главная</a> /
        <a href="{% url 'user_list' %}">Персоны</a> /
    </p>
    <h1>
        {% if obj.image %}
            <img src="{{ obj.image_50x50.url }}"
                style="width: 50px; height: 50px;">
        {% else %}
            <div style="display: inline-block; width: 50px; text-align: center; vertical-align: bottom;">
                <span class="fa fa-2x fa-user-o"></span>
            </div>
        {% endif %}
        {{ obj.get_full_name }}
    </h1>
</header>
