.site_second_nav__wrapper {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    font-size: 14px;
    background: #fff;
    border-bottom: 1px rgb(0,92,160) solid;
}

.site_second_nav__block {
    padding: 5px;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    width: 100%;
}


.site_second_nav__a {
    display: block;
    padding: 5px;
}
