/* ЗАГОЛОВКИ по-умолчанию */
h1, h2, h3, h4, h5, h6 {
    margin: 12px 0px;
    color: rgb(64,64,64);
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}


p {
    margin: 12px 0px;
}

/* СПИСКИ по-умолчанию */
ul {

}

ol {

}

li {
    margin: 8px 0px;
}


.ul__row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    padding: 0px;
    list-style-type: none;
}
.li__row {
    flex: 0 0 auto;
    margin-right: 0.5em;
}


/* ССЫЛКИ по-умолчанию */
a {
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(0,128,192);
}
a:active,
a:focus,
a:hover {
    color: rgb(0,92,160);
}

.a__sel,
.a__sel:link,
.a__sel:visited,
.a__sel:active,
.a__sel:focus,
.a__sel:hover {
    color: rgb(0,92,160);
}


/* ИЗОБРАЖЕНИЯ по-умолчанию */
img {
    max-width: 100%;
    height: auto !important;
    vertical-align: middle;
}


input, select {
    margin: 5px 0px;
}
